iframe.vshare__left,
div.vshare__left {
    float: left;
    margin-right: 1em;
}

iframe.vshare__right,
div.vshare__right {
    float: right;
    margin-left: 1em;
}

iframe.vshare__center,
div.vshare__center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

iframe.vshare__none,
div.vshare__none {
margin: 1px 3px 1px 3px;
}

div.vshare__responsive {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
iframe.vshare__responsive {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}